from test_setup import (
{% for _, CLAZZ in ALL_TESTS %}
    {{CLAZZ}},
{% endfor %}
)

{% for tn, CLAZZ in ALL_TESTS %}
class Test_{{dsc}}_{{tn}}({{CLAZZ}}):
    manifest = "{{mnfest}}"

{% endfor %}
